@font-face {
    font-family: PlayWright;
    src: url('./assets/fonts/Playwrite_HR_Lijeva/static/PlaywriteHRLijeva-Regular.ttf');

}

@font-face {
    font-family: Dancing;
    src: url('./assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: Noto;
    src: url('./assets/fonts/Noto_Sans/static/NotoSans-Medium.ttf');
}
 

.destinations h1{
    font-family: PlayWright;
}