#body{
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  justify-content: space-evenly;

  position:relative;

  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.164);

  padding: 20px;
}

.guide{
  display: flex;
  align-items: center;
  gap: 100px;
}

.sign-in-options{
  display: flex;
  align-items: center;

  gap: 10px;
}

.log-in{
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: rgba(58, 181, 238, 0.795);

  border-style: none;

  width: 90px;
  height: 35px;

  border-radius: 7px;
}

.sign-up{
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: rgba(250, 192, 66, 0.719);

  border-style: none;

  width: 90px;
  height: 35px;

  border-radius: 7px;
}


.log-in:hover{
  width: 92px;
  height: 37px;

  background-color: rgba(46, 152, 201, 0.795);

  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.055);
}

.sign-up:hover{
  width: 92px;
  height: 37px;

  background-color: rgba(219, 167, 56, 0.719);

  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.055);
}