@font-face {
  font-family: PlayWright;
  src: url('./assets/fonts/Playwrite_HR_Lijeva/static/PlaywriteHRLijeva-Regular.ttf');

}

@font-face {
  font-family: Dancing;
  src: url('./assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

@font-face {
  font-family: Noto;
  src: url('./assets/fonts/Noto_Sans/static/NotoSans-Medium.ttf');
}

header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;


  box-shadow: 5px 0px 10px rgba(167, 167, 167, 0.438);
  background-color: rgb(255, 255, 255);

  padding: 20px;
  
  width: 100%;

}

main{
  display: flex;
  flex-direction: column;

margin-top: 200px;

  align-items: center;
}

footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  font-family: Noto;

  width: 100%;
  height: 35%;

  margin-top: 200px;

  background-color: rgba(187, 187, 187, 0.226);
}

footer>span{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}


.guide{
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  gap: 75px;
  
}

.sign-in-options{
  display: flex;
  align-items: center;

  gap: 10px;
}

.log-in{
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: rgba(58, 181, 238, 0.795);

  border-style: none;

  width: 90px;
  height: 35px;

  border-radius: 7px;
}

.sign-up{
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  background-color: rgba(250, 192, 66, 0.719);

  border-style: none;

  width: 90px;
  height: 35px;

  border-radius: 7px;
}

.logo{
  width: 180px;
  height: 130px;
}

.guide-button{
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 40px;

  background-color: rgba(240, 248, 255, 0);

  border-style: none;
  border-radius: 5px;

  
}

.link{
  text-decoration: none;
}

.introduction{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 100px;

  font-family: PlayWright;
  font-size: larger;

}

.intro-groups{
  text-align: center;
  animation: text-intro 1 2s linear;
  transition: font-size 1s;
}

.intro-groups>p{
  width: 500px;
  margin-bottom: 10%;
}


.img-holder{
  padding: 10px;
  border-radius: 5px;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.trip-images{
  width: 500px;
  height: 250px;
  transition: all 1s;
}

.about-us{
  display: flex;
  gap: 55px;
  justify-content: center;

  flex-wrap: wrap;


  width: 60%;

  font-family: Dancing;
  font-size: 35px;

  margin-top: 300px;
  margin-bottom: 300px;


  padding: 100px;
}

.about-us>h1{
  width: 50%;
}

.about-us>span{
  font-family: PlayWright;
  font-size: large;
  
  width: 45%;

  transition: all 0.5s;
}


.join{
  display: flex;
  gap: 200px;
  flex-direction: column;
  align-items: center;

  


  font-family: Dancing;

  font-size: 35px;
}

.join>span{
  font-family: PlayWright;

  width: 40%;
  font-size: medium;
  transition: all 1s;
}

.join>span>ul, .join>span>ol{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.guide-button:hover{
  background-color: rgba(170, 170, 170, 0.212);

  font-size: large;

  cursor: pointer;
}

.log-in:hover{
  width: 92px;
  height: 37px;

  background-color: rgba(46, 152, 201, 0.795);

  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.055);

  cursor: pointer;
}

.sign-up:hover{
  width: 92px;
  height: 37px;

  background-color: rgba(219, 167, 56, 0.719);

  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.055);

  cursor: pointer;
}

.intro-groups:hover{
  font-size: larger;
}

.trip-images:hover{
  width: 475px;
  height: 240px;
}

.about-us>span:hover{
  font-size: medium;
  border-top-style: solid;
}

.join>span:hover{
  background-color: rgba(197, 197, 197, 0.24);

  font-size: 15px;

  border-radius: 70%;

}



@keyframes text-intro {
  from {
    color: transparent;
  }
  to {
    color: black;
  }
}

@media screen and (max-width: 750px){
  .guide{
    flex-direction: column;
  }
  header{
    flex-direction: column;
  }
  .join>h1{
    margin-left: 50px;
  }
}